<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="45 Foods App, the restaurant healthy for you and family">
    <meta name="theme-color" content="#00b8a9">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title></title>
</head>
<body>
    <a href="#maincontent" class="container__skip-link">
        <span class="skip-link">Menuju ke konten</span>
    </a>

    <div class="container__header">
        <header class="header"> 
            <!--<div class="header__inner">
                <h1 id="header-title" class="header__title"></h1>
            </div>-->
            <app-bar></app-bar>
            <button id="menu" class="header__menu" data-toggle="false">
                <span class="icon-default">☰</span>
                <span class="icon-close">⛌</span>
            </button>
        </header>

        <nav id="drawer" class="nav">
            <!--<ul id="menu-list" class="nav__list"></ul>-->
            <menu-list></menu-list>
        </nav>
    </div>

    <!-- <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title"><strong>Menu Makanan 4 Sehat, 5 Sempurna</strong></h1>
            <p class="hero__tagline">Hidup sehat dengan makan makanan pokok, lauk pauk, sayur-sayuran, buah-buahan, dan lengkapi dengan meminum susu.</p>
        </div>
    </div> -->
    <hero-bar></hero-bar>

    <div class="breadcrumb hidden">
        <!-- <ul id="breadcrumbs"></ul> -->
        <breadcrumb-list></breadcrumb-list>
    </div>

    <main id="maincontent"></main>
    
    <footer-bar></footer-bar>
</body>
</html>
