<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="45 Foods App, the restaurant healthy for you and family">
    <meta name="theme-color" content="#00b8a9">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title></title>
</head>
<body>
    <a href="#maincontent" class="container__skip-link">
        <span class="skip-link">Menuju ke konten</span>
    </a>

    <div class="container__header">
        <header class="header"> 
            <div class="header__inner">
                <h1 id="header-title" class="header__title"></h1>
            </div>
            <button id="menu" class="header__menu" data-toggle="false">
                <span class="icon-default">☰</span>
                <span class="icon-close">⛌</span>
            </button>
        </header>

        <nav id="drawer" class="nav">
            <ul id="menu-list" class="nav__list"></ul>
        </nav>
    </div>

    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title"><strong>Menu Makanan 4 Sehat, 5 Sempurna</strong></h1>
            <p class="hero__tagline">Hidup sehat dengan makan makanan pokok, lauk pauk, sayur-sayuran, buah-buahan, dan lengkapi dengan meminum susu.</p>
        </div>
    </div>

    <div class="breadcrumb hidden">
        <ul id="breadcrumbs"></ul>
    </div>

    <main id="maincontent">
        <section class="content">
            <div class="container__restaurant">
                <h1 class="restaurant__label">Explore Restaurant</h1>
                <div id="restaurant-list" class="restaurants">
                    <!-- List data restaurant -->
                </div>
                <div class="restaurant__footer">
                    <a href="#" class="btn btn-primary">Tampilin lebih banyak resto</a>
                </div>
            </div>

            <div class="container__viral-food">
                <h1 class="viral-food__label">45's Foods Terviral</h1>
                <div id="viral-food-list" class="viral-food">
                    <!-- List data viral foods -->
                </div>
                <div class="viral-food__footer">
                    <a href="#" class="btn btn-primary">Lihat semua yang viral</a>
                </div>
            </div>
        </section>
    </main>

    <!--<main>
        <div>
            <section class="content-detail">
                <div class="container__restaurant-detail">
                    <div class="restaurant-detail__thumbnail">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/14">
                    </div>
                    <div class="restaurant-detail__content">
                        <h1 class="restaurant-detail__title">Pisang Goreng Krenyes OK Dr. Satrio</h1>
                        <div class="restaurant-detail__category">
                            <span>Italia</span>
                            <span>Modern</span>
                        </div>
                        <h2 class="restaurant-detail__rating">
                            <span>Rating</span> <i class="fa fa-star"></i> 4.5
                        </h2>
                        <p class="restaurant-detail__description">
                            Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
                        </p>
                    </div>
                    <div class="restaurant-detail__address">
                        <h1 class="restaurant-detail__address-title">Kota</h1>
                        <p>Bogor</p>
                        <h1 class="restaurant-detail__address-title">Alamat</h1>
                        <p>Jln. Pandeglang no 19</p>
                    </div>
                </div>

                <div class="container__restaurant-favorite">
                    <div class="restaurant-favorite__item">
                        <h1 class="restaurant-favorite__title">Kamu Suka Banget Sama Resto Ini Ya... Ciee Jadi Langganan Setia ;)</h1>
                    </div>
                    <div class="restaurant-favorite__item">
                        <h2 class="restaurant-favorite__subtitle">Yuk, jadiin resto ini resto favorit kamu</h1>
                    </div>
                    <div class="restaurant-favorite__item">
                        <div class="restaurant-favorite__button">
                            <button class="btn btn-primary"><i class="fa fa-heart liked"></i> &nbsp; Suka</button>
                        </div>
                    </div>
                </div>

                <div class="container__menu-utama">
                    <h1 class="menu-utama__label">Menus</h1>
                    <div class="menu-utama">
                        <div class="menu-utama__food">
                            <h1 class="menu-utama__title">Makanan</h1>
                            <div class="menu-utama__foods">
                                <div class="menu-utama__food-item">
                                    <h1 class="menu-utama__food-item__title">dkdkd</h1>
                                </div>
                                <div class="menu-utama__food-item">
                                    <h1 class="menu-utama__food-item__title">dkdkd</h1>
                                </div>
                            </div>
                        </div>

                        <div class="menu-utama__drink">
                            <h1 class="menu-utama__title">Minuman</h1>
                            <div class="menu-utama__drinks">
                                <div class="menu-utama__drink-item">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container__customer-review">
                    <h1 class="customer-review__label">Customer Reviews</h1>
                    <div class="customer-reviews">
                        <div class="customer-review__item">
                            <div class="customer-review__item-thumbnail">
                                <h2>RD</h2>
                            </div>
                            <h1 class="customer-review__item-name">Rizki Darmawan</h1>
                            <p class="customer-review__item-review">Lorem ipsum dolor sit amet</p>
                            <p class="customer-review__item-date">20 Januari 2021</p>
                        </div>
                        <div class="customer-review__item">
                            <div class="customer-review__item-thumbnail">
                                <h2>RD</h2>
                            </div>
                            <h1 class="customer-review__item-name">Rizki Darmawan</h1>
                            <p class="customer-review__item-review">Quisque rutrum. Aeneane nisi vel augue. Curabitur ullamcorper ultricie</p>
                            <p class="customer-review__item-date">20 Januari 2021</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>-->
    
    <footer>
        <p id="footer"></p>
    </footer>
</body>
</html>
