<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <a href="#maincontent" class="container__skip-link">
        <span class="skip-link">Menuju ke konten</span>
    </a>

    <div class="container__header">
        <header class="header"> 
            <div class="header__inner">
                <h1 id="header-title" class="header__title"></h1>
            </div>
            <a href="#" id="menu" class="header__menu" data-toggle="false">
                <span class="icon-default">☰</span>
                <span class="icon-close">⛌</span>
            </a>
        </header>

        <nav id="drawer" class="nav">
            <ul id="menu-list" class="nav__list"></ul>
        </nav>
    </div>

    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title"><strong>Menu Makanan 4 Sehat, 5 Sempurna</strong></h1>
            <p class="hero__tagline">Hidup sehat dengan makan makanan pokok, lauk pauk, sayur-sayuran, buah-buahan, dan lengkapi dengan meminum susu.</p>
        </div>
    </div>

    <div class="breadcrumb">
        <ul>
            <li><a href="">Eksplore Restaurant</a></li>
            <span>/</span>
            <li><a href="" class="breadcrumb__active">Bring Your Phone Cafe</a></li>
        </ul>
    </div>

    <main id="maincontent">
        <section class="content">
            <div class="container__restaurant">
                <h1 class="restaurant__label">Explore Restaurant</h1>
                <div id="restaurant-list" class="restaurants">
                    <!-- List data restaurant -->
                </div>
                <div class="restaurant__footer">
                    <a href="#" class="btn btn-primary">Tampilin lebih banyak resto</a>
                </div>
            </div>

            <div class="container__viral-food">
                <h1 class="viral-food__label">45's Foods Terviral</h1>
                <div id="viral-food-list" class="viral-food">
                    <!-- List data viral foods -->
                </div>
                <div class="viral-food__footer">
                    <a href="#" class="btn btn-primary">Lihat semua yang viral</a>
                </div>
            </div>
        </section>
    </main>
    
    <footer>
        <p id="footer"></p>
    </footer>
</body>
</html>
