* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #424242;
}

/*
 * Skip to content
 */

.container__skip-link {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 50px;
    z-index: 100;
    position: absolute;
    top: -100px;
    padding: 10px !important;
    background-color: var(--theme-color-white);
    border-radius: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 0);

    &:focus {
        top: 60px;
    }
}

.skip-link {
    background-color: var(--theme-color-white);
    padding: 10px;
    border: 2px #000000 solid;
    border-radius: 3px;
    width: 100%;
    display: block;
}

/*
 * Header
 */

 .container__header {
     display: grid;
     grid-template-columns: 25% 75%;
     position: fixed;
     top: 0;
     background-color: white;
     width: 100%;
     z-index: 99;
     border-bottom: 1px var(--theme-color-yellow) solid;
 }

 .header {
     //background-color: aqua;
     transition: min-height 0.3s;
     box-sizing: border-box;
 }

 .header__inner {
     width: 100%;
     text-align: left;
     position: relative;
     height: 100%;
 }

 .header__title {
     font-weight: 300;
     font-size: 2em;
     color: var(--theme-color-turquoise);
     position: absolute;
     top: 50%;
     transform: translate(0, -50%);
     text-transform: uppercase;
     width: 100%;
     text-align: center;
 }

 .header__menu {
     font-size: 32px;
     margin: 10px auto;
     display: block;
     width: 30px;
     color: var(--theme-color-yellow);
     position: relative;
     height: 42px;
     
     span {
         position: absolute;
     }
    
     .icon-default {
        transition: opacity .3s, transform .3s;
        
        &-event {
            transform: rotate(180deg) scale(.5);
            opacity: 0;
        }
     }
    
     .icon-close {
        transition: opacity .3s, transform .3s;
        transform: rotate(-180deg) scale(.5);
        opacity: 0;

        &-event {
            transform: rotate(0deg) scale(1);
            opacity: 1;
        }
     }
 }

 /*
  * Top level navigation
  */

.nav {
    //background-color: blueviolet;
    width: 100%;
    text-align: right;

    a {
        display: inline-block;
        padding: 1.3em;
        text-decoration: none;
        color: var(--theme-color-turquoise);

        &:hover {
            text-decoration: underline;
            color: var(--theme-color-white);
        }
    }
}

.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav__item {
    box-sizing: border-box;
    display: inline-block;
    width: auto;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 1em;

    &:hover {
        background-color: var(--theme-color-turquoise);
    }
}

/*
 * Jumbotron
 */

.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: url("../../public/images/heros/hero-image_4.jpg");
    background-position: center;
    background-color: green;
}

.hero__inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero__title {
    color: var(--theme-color-turquoise);
    font-weight: 500;
    font-size: 36px;
}

.hero__tagline {
    color: var(--theme-color-white);
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
}

/*
 * Main
 */

main {
    width: 100%;
    margin: 0 auto;
}

/*
 * Content
 */

.content {
    padding: 32px;
}

/*
 * Restaurant
 */

.container__restaurant {
    width: 100%;
    margin: 60px auto;
    text-align: center;
}

.restaurant__label {
    font-size: 32px;
    font-weight: lighter;

    &::after {
        content: "";
        margin-top: 16px;
        display: block;
        border-bottom: 1px solid var(--theme-color-yellow);
    }
}

.restaurants {
    margin: 32px auto auto;
    text-align: left;
    display: grid;
    grid-row-gap: 16px;
}

/*
 * Restaurant item
 */

.restaurant-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.restaurant-item__lokasi {
    position: absolute;
    top: 20px;
    width: 150px;
    background-color: var(--theme-color-turquoise);
    border-right: 2px var(--theme-color-white) solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0.85;

    p {
        margin: 1.15em;
        font-weight: bold;
        color: var(--theme-color-white);
        text-align: center;
    }
}

.restaurant-item__content {
    padding: 16px;
}

.restaurant-item__thumbnail {
    width: 100%;
    height: 240px;
    overflow: hidden;
    border-radius: 10px;

    img {
        width: 100%;
    }
}

.restaurant-item__date {
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
}

.restaurant-item__date__author {
    color: red;
    text-decoration: none;
}

.restaurant-item__title, .restaurant-item__rating {
    font-weight: 500;
    transition: 0.3s opacity;
}

.restaurant-item__title {
    font-size: 16px;
    margin-top: 16px;

    &:hover {
        opacity: 0.5;
        color: var(--theme-color-turquoise);
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

.restaurant-item__rating {
    font-size: 14px;

    span {
        font-weight: lighter;
        color: var(--theme-color-red);
    }
}

.restaurant-item__description {
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.5em;
}





/*
 * Tips
 */

 .container__tips {
    width: 100%;
    margin: 60px auto;
    text-align: center;
}

.tips__label {
    font-size: 32px;
    font-weight: lighter;

    &::after {
        content: "";
        margin-top: 16px;
        display: block;
        border-bottom: 1px solid var(--theme-color-yellow);
    }
}

.tips {
    margin: 32px auto auto;
    text-align: left;
    display: grid;
    grid-row-gap: 16px;
}

/*
 * Tips item
 */

.tips-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.tips-item__lokasi {
    position: absolute;
    top: 20px;
    width: 150px;
    background-color: var(--theme-color-turquoise);
    border-right: 2px var(--theme-color-white) solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0.85;

    p {
        margin: 1.15em;
        font-weight: bold;
        color: var(--theme-color-white);
        text-align: center;
    }
}

.tips-item__content {
    padding: 16px;
}

.tips-item__thumbnail {
    width: 100%;
    height: 240px;
    overflow: hidden;
    border-radius: 10px;

    img {
        width: 100%;
    }
}

.tips-item__date {
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
}

.tips-item__date__author {
    color: red;
    text-decoration: none;
}

.tips-item__title, .tips-item__rating {
    font-weight: 500;
    transition: 0.3s opacity;
}

.tips-item__title {
    font-size: 16px;
    margin-top: 16px;

    &:hover {
        opacity: 0.5;
        color: var(--theme-color-turquoise);
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

.tips-item__rating {
    font-size: 14px;

    span {
        font-weight: lighter;
        color: var(--theme-color-red);
    }
}

.tips-item__description {
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.5em;
}








/*
 * Footer
 */

footer {
    background-color: var(--theme-color-turquoise);
    padding: 2em;
    width: 100%;
    text-align: center;

    p {
        font-size: 14px;
        padding: 1.3em;
        color: var(--theme-color-white);

        span {
            text-transform: uppercase;
        }
    }
}