@media screen and (max-width: 425px) {
    .restaurant-item__thumbnail {
        height: 150px;
    }
}

@media screen and (max-width: 499px) {
    .nav {
        display: none;
        z-index: 10;
        background-color: #fff;
        width: 100%;

        /* This transform move the drawer off canvas */
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);

        /* Optionally, we animate the drawer */
        transition: transform 0.3s ease;
    }

    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .nav__item {
        display: list-item;
        border-bottom: 1px solid var(--theme-color-yellow);
        width: 100%;
        text-align: center;
        list-style: none;
        margin-left: 0;
    }

    .nav-display {
        display: block;
    }

    .container__header {
        position: relative;
        grid-template-columns: 100%;
    }

    .header__inner {
        height: auto;
    }

    .header__title {
        position: static;
        top: 0;
        transform: unset;
        margin: 10px auto;
    }

    .hero__inner {
        padding: 0 20px;
    }

    .container__skip-link:focus {
        top: 105px;
    }
}

@media screen and (min-width: 500px) {
    .header__menu {
        display: none
    }
}

@media screen and (min-width: 650px) {
    .restaurant-item__content {
        padding: 16px 32px 32px 32px;
    }

    .restaurant-item__title {
        font-size: 18px;
    }

    .restaurant-item__description {
        font-size: 14px;
    }
}

@media screen and (min-width: 700px) {
    .restaurants {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }

    .restaurant-item__thumbnail {
        height: 200px;
    }

    .tips {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }
}

@media screen and (min-width: 800px) {
    .nav__list {
        max-width: 800px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 900px) {
    .restaurants {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .tips {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 100px);
        grid-auto-flow: column;
    }

    .tips-item:first-child {
        grid-column: 4 / 2;
        grid-row: 2 / 2;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }
}