:root {
  --theme-color-turquoise: #127971; // #00b8a9;
  --theme-color-red: #d8345b; // #f6416c;
  --theme-color-yellow: #ffde7d;
  --theme-color-white: #fdfdfd;
  --theme-color-black: #1b1919; // #424242;
}
